* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

header {
  display: flex;
  width: 100%;
  height: 72px;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  box-shadow: 0 0 16px rgba(38,38,38,0.16);
}


header > div.logo > ul.logo_ul {
  margin-top: 5px;
  display: flex;
}

header > div.logo > ul.logo_ul > li {
  list-style-type: none;
  margin-right: 4px;
}

header > div.logo > ul.logo_ul > li.logo_li_R {
  margin-right: 10px
}

header > div.logo > ul.logo_ul > li.logo_li_A {
  margin-right: 3px
}

header > div.address_delivery {
  display: flex;
  align-items: center;
}

header > div.address_delivery > a.ASAP {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 24px;
  color: #1D1D1D;
  height: 40px;
  width: 65px;
  background-color: #fff;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  text-decoration: none;
}


header > div.address_delivery > label {
  display: flex;
  align-items: center;
  width: 292px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
}

header > div.address_delivery > label > input {
  border: 0px;
  outline: none;
}

input::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #1D1D1D;
}

header > div.address_delivery > label::before {
  content: url(svg_header/location.svg);
  width: 12px;  
  height: 15px;
  margin: 0 12px 4px;
}

header > div.address_delivery > span {
  margin: 0 9px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #626262;
}


header > div.LogIn {
  display: flex;
}

header > div.LogIn > a.signIn,
header > div.LogIn > a.register {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  height: 40px;
  width: 80px;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: #1D1D1D;
  text-decoration: none;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
}

header > div.LogIn > a.signIn {
  margin-right: 16px;
}

header > div.LogIn > a:hover {
  color: #fff;
  background-color: #262626;
  transition: 0.5s ease;
}

header > div.LogIn > img {
  margin-left: 27px;
}















.conteiner {
  margin-left: 81px;
  margin-right: 87px;
}


.mainSection {
  margin: 50px 0 100px 0;
}

/*SEARCH*/
#searchFild {
  position: relative;
  display: inline-block; 
}
#searchIcon {
  position: absolute;
  display: inline-block;
  top: 20px;
  left: 0;
  width: 22px;
  border: none;
  margin: 0;
}

#search {
  margin: 20px 0 15px 29px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #626262;
  opacity: 0.5;
}

hr {
  background: #757575;
  border: none;
  height: 1px;
  opacity: 0.3;
}

#content { /*контейнер со всеми ресторанами*/
  display: flex;
  justify-content: space-between; 
  flex-flow: wrap;
  width: 100%;
}

.restaurant { /*бокс одного ресторана с картинкой*/
  margin: 16px 0 16px 0;
  width: 30%;
  min-width: 308px;
}

.restImg  { /*картинка ресторана*/
   width: 100%;
 }

.restInfo { /*бокс информации одного ресторана*/
  padding: 13px 0 13px 0;
  background-color: white;
  margin: 0;
}
 
.restInfo:hover {
  background-color: rgba(117, 117, 117, 0.04);
}

/*шрифты всех элементов*/

#nameOfMain {
  width: 163px;
  height: 34px;
  left: 81px;
  top: 208px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: #1D1D1D;
}

.restaurantName {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #1D1D1D;
}

.foodType {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 25px;
display: flex;
align-items: center;
color: #626262;
}

.time {
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 21px;
display: flex;
align-items: center;
color: #1D1D1D;
}









/* footerstyle */
.footer_wrap {
  margin: 0 85px;
}

footer {
  background-color: #262626;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.footer_logo {
  height: 116px;
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.r {
  padding-right: 10px;
}

a {
  outline: none;
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: rgba(255, 255, 255, 0.726);
}
.footer_row1_icons  a {
  margin-right: 8px;

}

hr {
  margin: 0;
  opacity: 0.4;
}
.footer_second_row1 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.footer_second_row1 p {
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 20px;
}

.footer_second_row2 {
  display: flex;
  flex-grow: 1;
}

.footer_row2_ul {
display: flex;
flex-direction: column;
}
.footer_second_row3 {
  display: flex;
  flex-grow: 2;
}
.footer_row3_ul {
  display: flex;
  flex-direction: column;
}
.footer_row1_leng {
  display: block;
  margin: 32px 0;
  cursor: pointer;
  background-color: #3b3b3b;
  font-size: 13px;
  line-height: 15px;
  width: 227px;
  height: 40px;
  text-transform: uppercase;
  border: none;
  -webkit-appearance: none;
  color: #fff;
  outline: none;
  position: relative;
  padding: 12px 45px;
}

.before_leng::after {
  content: url(svg_footer/Shape.svg);
  position: absolute;
  width: 0px;
  height: 0px;
  top: 205px;
  left: 284px;
}

.footer_second_row1::before {
content: url(svg_footer/world.svg);
position: absolute;
z-index: 2;
top: 204px;
left: 99px;
}

.footer_second {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 32px 0;
  font-size: 13px;
  line-height: 15px;
  align-items: baseline;
}

.footer_second_row2 a {
  padding-bottom: 20px;
}

.footer_second_row3 a {
  padding-bottom: 20px;
}

span {
  color: #49A144;
}

.footer_second ul {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 15px;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

.footer_second li {
  padding-bottom: 23px;
}

.footer_row1_icons p{
  margin: 0;
}

.footer_install_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px
}

.footer_install_icons img {
  margin-left: 40px;
}

.footer_license {
  display: flex;
  flex-wrap: wrap;
  font-size: 11px;
  line-height: 13px;
  padding: 40px 0;
}

.footer_license_content1 {
  display: flex;
  justify-content: start;
  flex-grow: 1;
}

.footer_license_content2 {
  display: flex;
  justify-content: start;
  flex-grow: 1;
}

.footer_license_content3 {
  display: flex;
  justify-content: start;
  flex-grow: 1;
}