* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.conteiner {
  margin-left: 81px;
  margin-right: 87px;
}





/* footer styles below */

.footer {
  background: #262626;
  padding-top: 56px;
  padding-right: 87px;
  padding-bottom: 20px;
  padding-left: 81px;
  width: 100%;
}





/* footer logo styles */

.footer_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding-left: 1px;
}

.footer_letters {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.footer_letters > li {
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_white_letter {
  margin-right: 8px;
}

#footer_white_letter_last {
  margin-right: 15px;
}

.footer_green_letter {
  margin-right: 6px;
}

hr {
  opacity: 0.4;
}





/* footer tools style */

.footer_tools {
  display: flex;
}





/* lenguege select css */

.footer_lenguege_icons {
  margin-top: 32px;
}

.footer_lenguge_select {
  cursor: pointer;
  background-color: #3b3b3b;
  font-size: 13px;
  line-height: 15px;
  width: 227px;
  height: 40px;
  text-transform: uppercase;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.footer_icons_description {
  font-size: 16px;
  line-height: 19px;
  margin-top: 33px;
}

.footer_icons_description span {
  margin-right: 2px;
  color: #49a144;
}


.footer_icons_description p {
  margin-bottom: 20px;
}

.footer_icons img {
  margin-right: 12px;
}

.footer_icons {
  margin-bottom: 59px;
}






/* footerlist */

.footer_list {
  font-size: 13px;
  line-height: 15px;
  padding-left: 0px;
  list-style: none;
  padding-top: 39px;
}

.footer_list li {
  padding-bottom: 23px;
}

.footer_list a {
  text-decoration: none;
}

.footer_list_1 {
  margin-left: 97px;
}

.footer_list_2 {
  margin-left: 154px;
}






/* downloadicons */

.footer_download img {
  width: 100%;
  height: auto;
}

.footer_download {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

.footer_download img {
  width: 135px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.footer_license {
  margin: 20px 0;
  display: flex;
}
.footer_license p{
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  width: 334px;
}